# Special case for resources.... Don't let open source have access to copyright images in my local resource dir
assets/resources

# OSX
#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
/bin
tmp/*
y.pub
Vagrantfile*

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
xcshareddata
ios/Indure.app.dSYM.zip

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
!debug.keystore
.project
.settings
.classpath

# Visual Studio Code
#
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
# *.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

.cache
.expo/
.history
.jest/
.target
.java-version

#CocoaPods
ios/Pods/
ios/Podfile.lock
node_modules
